body {
    padding: 25px;
}

#display {
    height: 100px;
    width: 146px;
    border: 2px solid black;
    text-align: center;
}

#buttons {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
}

button{
    height: 40px;
    width: 50px;
    font-size: 24px;
    color: white;
    background-color: #93A9d1;
}

#clear {
    height: 40px;
    width: 150px;
}